{% extends "accounts/base.html" %}
{%block content%}
      <form class="form-signin form-horizontal" action="" method="post">{{ form.csrf_token }}
        <h2 class="form-signin-heading text-center">注册</h2>
        <div class="form-signin-body">
        <div class="control-group {%if form.email.errors%}error{%endif%}">
            <label class="control-label" for="inputEmail">邮箱</label>
            <div class="controls">
              {{form.email}} 
              <span class="help-inline">
                  {% for error in form.email.errors %}
                      {{ error }}
                      {% else %}
                      请填写正确的邮箱地址，您可以用邮箱来登录。
                  {% endfor %}
              </span>
            </div>
          </div>
        <div class="control-group {%if form.username.errors%}error{%endif%}">
            <label class="control-label" for="inputEmail">用户名</label>
            <div class="controls">
              {{form.username}}
              <span class="help-inline">
              	用户名只能由字母、下划线、数字组成，且不能超过20个字符。
              </span>
            </div>
          </div>
        <div class="control-group {%if form.nickname.errors%}error{%endif%}">
            <label class="control-label" for="inputEmail">昵称</label>
            <div class="controls">
              {{form.nickname}}
              <span class="help-inline">
              	昵称用作显示，不能超过20个字符。
              </span>
            </div>
          </div>
        <div class="control-group {%if form.password.errors%}error{%endif%}">
            <label class="control-label" for="inputEmail">密码</label>
            <div class="controls">
              {{form.password}}
              <span class="help-inline">
              	请设置强度比较好的密码，以保证账号安全。
              </span>
            </div>
          </div>
        <div class="control-group {%if form.password_confirm.errors%}error{%endif%}">
            <label class="control-label" for="inputEmail">确认密码</label>
            <div class="controls">
              {{form.password_confirm}}
               <span class="help-inline">
               	再输入一遍密码
              </span>
            </div>
          </div>
      </div>

        <div class="form-signin-footer text-center"><button class="btn btn-info" type="submit">注册</button> 
        	<button class="btn btn-info" onclick="javascript:location.href='../../'" type="button">返回</button> 
        </div>
      </form>
{%endblock%}