@import "compass/reset";
@import "compass/css3";



$header_height:150px;
$todo-meta-height:60px;
$main-color:#ddd;
$main-color2:#999;
$error-color:#b94a48;


// $main-color:#49afcd;

body{
	font-size:14px;
    overflow-y: scroll;
}